* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  background-color: #FFFAEB;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.book_title {
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border: 1px lightgray solid;
  color: #383838;
}

.main_box {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 30px 50px 30px 50px;
}

.user_profile {
  display: flex;
  justify-content: center
}

.user_profile img {
  height: 150px;
}

.user_profile_info {
  width: 320px;
  margin: 0px 70px 0px 70px;
}

#user_name {
  font-size: 30px;
  margin-bottom: 20px;
}

#card_count {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  list-style: none;
}

#card_count li {
  margin-right: 40px;
}

#announce {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 40px 20px;
}

#announce p {
  font-size: 14px;
  color: gray;
  margin-left: 10px;
}

#announce img {
  width: 55px;
}

.sign_btn {
  display: flex;
  justify-content: center;
}

.sign_btn button {
  width: 630px;
  height: 50px;
  margin: 30px 0px 30px 0px;
  border: 0px;
  border-radius: 5px;
  background-color: #44546A;
  color: #FFFAEB;
  font-size: 16px;
}

.btn_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn_box button {
  width: 190px;
  height: 50px;
  margin: 30px 5px 30px 5px;
  border: 2px solid #44546A;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  background-color: #FFFAEB;
  color: #44546A;
}

.btn_box button:hover {
  background-color: #44546A;
  color: #FFFAEB;
}

.card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 500px;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px 30px 10px 30px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
  background-color: white;
}

.card_list .card .card_info {
  display: flex;
  justify-content: space-between;
}

.card_writer {
  font-weight: bold;
  font-size: 18px;
}

.card_post_date {
  font-size: 15px;
  color: gray;
}

.card_content {
  margin-top: 5px;
}

.card_status {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 15px;
}

.card_list .card button {
  width: 70px;
  height: 30px;
  margin-left: 10px;
  font-size: 14px;
  border: 0px;
  border-radius: 5px;
  background-color: #44546A;
  color: #FFFAEB;
}

.page {
  width: 500px;
  display: flex;
  justify-content: center;
  align-self: center;
  color: gray;
}

.page img {
  height: 20px;
  margin: 0px 20px 0px 20px;
}

.search {
  display: flex;
  justify-content: center;
  margin: 30px 0px 80px 0px;
}

.search input {
  width: 400px;
  height: 27px;
  text-align: center;
  border: 0.5px solid gray;
  border-radius: 20px;
  background-color: #EDEDED;
}
.search img{
  height: 20px;
  position: relative;
  top: 4px;
  right: 33px;
}