body {
  height: auto;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

#card_count {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  list-style: none;
}

#card_count li {
  margin-right: auto;
}

.card_list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 500px;
  height: 100px;
  margin-bottom: 20px;
  padding: 10px 30px 10px 30px;
  border: 0.5px solid lightgray;
  border-radius: 5px;
  box-shadow: 1px 1px 2px grey;
  background-color: white;
  cursor: pointer;
}

.card_detail {
  width: 500px;
  height: 300px;
  margin-bottom: 20px;
  padding: 15px 30px 15px 30px;
  border: 0.5px solid lightgray;
  border-radius: 3px;
  box-shadow: 1px 1px 2px grey;
  background-color: white;
}

.card_info {
  display: flex;
  justify-content: space-between;
}

.card_writer {
  font-weight: bold;
  font-size: 22px;
}

.card_post_date {
  font-size: 16px;
  color: gray;
}

.card_list .card_content {
  margin: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card_detail .card_content {
  width: 500px;
  height: 250px;
  margin-top: 20px;
  border: 0px;
  resize: none;
  font-size: 18px;
}

.edit_card_content {
  width: 455px;
  height: 210px;
  margin-top: 10px;
  border: 3px solid indianred;
  border-radius: 5px;
  resize: none;
  font-size: 17px;
  padding: 15px 20px 15px 20px;
}

textarea:focus {
  outline: none;
}

.card_btn {
  display: flex;
  flex-direction: row-reverse;
}

.card_list .card button {
  width: 70px;
  height: 25px;
  margin-left: 10px;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  background-color: #44546A;
  color: #FFFAEB;
  cursor: pointer;
}

.card_write {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.card_write textarea {
  width: 420px;
  height: 200px;
  padding: 20px 30px 50px 30px;
  font-size: 16px;
  border: 0.5px solid #44546A;
  background-color: white;
  resize: none;
}

.card_write textarea::placeholder {
  font-size: 16px;
}

.card_write button {
  height: 50px;
  width: 80px;
  align-self: center;
  margin-top: -50px;
  margin-left: 400px;
  font-weight: bold;
  font-size: 17px;
  border: 0px;
  background-color: #44546A;
  color: white;
  cursor: pointer;
}

#update_btn {
  height: 35px;
  width: 65px;
  font-weight: bold;
  font-size: 15px;
  border: 0px;
  border-radius: 5px;
  background-color: #44546A;
  color: white;
  cursor: pointer;
}

#comment_page_btn {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: #44546A;
  color: #fafafa;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
}

.back {
  cursor: pointer;
}