* {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans KR', sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #44546A;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main_box {
  width: 500px;
  text-align: center;
}

.book_title {
  color: #FFFAEB;
  font-size: 50px;
}

.info {
  margin-top: 50px;
  margin-bottom: 50px;
}


.info input {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: 0px;
  border-radius: 30px;
  box-shadow: 2px 2px 5px #383838;
  background-color: white;
  text-align: center;
}

.info input::placeholder {
  font-size: 20px;
}

.info_btn {
  width: 300px;
  height: 45px;
  margin-top: 50px;
  border: 0px;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #383838;
  font-weight: bold;
  font-size: 20px;
  color: #44546A;
  background-color: #FFFAEB;
  cursor:pointer;
}

.back_btn {
  width: 300px;
  height: 45px;
  margin-top: 10px;
  border: solid 2px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 18px;
  color: #FFFAEB;
  background-color: #44546A;
  cursor: pointer;
}

.sub_menu {
  display: flex;
  justify-content: center;
}

.sub_menu li {
  padding: 20px;
  list-style: none;
  text-decoration: underline;
  color: #FFFAEB;
  cursor: pointer;
}